Repository infinispan/infinispan-spring-boot, pull requests merged in 2020-04, with the labels that each got.

#140 ISPN-11546 Upgrade to 2.2.6.RELEASE
  pom.xml
Labels: trivial

#143 ISPN-11606 updating SB Starter attributes
  documentation/asciidoc/titles/spring_boot_starter.html
  documentation/asciidoc/topics/attributes/community-attributes.adoc
  documentation/asciidoc/topics/attributes/product-attributes.adoc
Labels: documentation, trivial

#145 jenkinsfile for sb starter version
  Jenkinsfile-release
Labels: documentation

#144 [9.4.x] ISPN-11321 sb starter doc updates
  Jenkinsfile-release
  documentation/asciidoc/stories/assembly_getting_started.adoc
  documentation/asciidoc/stories/assembly_running_server.adoc
  documentation/asciidoc/stories/assembly_setting_up_project.adoc
  documentation/asciidoc/stories/assembly_using_spring_session.adoc
  documentation/asciidoc/titles/stories.adoc
  documentation/asciidoc/topics/attributes/community-attributes.adoc
  documentation/asciidoc/topics/attributes/product-attributes.adoc
  documentation/asciidoc/topics/config_examples/hotrod-client.properties
  documentation/asciidoc/topics/dependencies_maven/sb_bom.xml
  documentation/asciidoc/topics/dependencies_maven/sb_embedded.xml
  documentation/asciidoc/topics/dependencies_maven/sb_remote.xml
  documentation/asciidoc/topics/proc_running_server.adoc
  documentation/asciidoc/topics/ref_spring_boot_starter_versions.adoc
Labels: documentation
